@import "../../scss/variables.scss";

section {
  margin: 80px 5%;


  > div:nth-child(1) {
      margin-left: 1%;
      font-size: 42px;
      font-weight: 400;
      display: inline-flex;
  }

  > div:nth-child(2) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;


      .col {
        position: relative;
        height: 460px;
        width: 100%;
        background-color: $grey;
        border-radius: 10px;
        margin: 3% 1%;
        padding:10px;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 160%;

          div {
            height: 338px;
            width: 100%;
            border-radius: 5px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $white;
            }
          > p:nth-child(1) {
            font-weight: 500;
            margin: 0;
          }

          > p:nth-child(2) {
            font-weight: 300;
          }

          span {
            display: flex;
            position: absolute;
            bottom: 95px;
            right: 3%;
            padding: 10px;
            background-color: #D9D7F1;
            border-radius: 100%;
          }
          span:hover {
            cursor: pointer;
          }
      }
  }
}

.animate {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.animate:hover {
  transform: scale(1.02);
  box-shadow: 0 0 3px 3px $black;
}

@media screen and (min-width: 481px) {
  section > div:nth-child(2) .col {
    width: 48%;
  }
  }
  @media screen and (min-width: 781px) {
  section > div:nth-child(2) .col {
    width: 31.3%;
  }
  }
  @media screen and (min-width: 1081px) {
  section > div:nth-child(2) .col {
    width: 23%;
  }
  }